<h1> Home </h1>

<%= form_tag member_path do %>
    Account : <input type="text" name="account" value="Jian-Hau, Su"> </br>
    Password : <input type="password" name="password" value="1234"> </br>
    <input type="submit" value="log in">
<% end %>
