<h1> Sign Up Page </h1>

<%= form_tag member_path do %>
    Account : <input type="text" name="account" value="Jian-Hau, Su"> </br>
    Password : <input type="password" name="password" value="1234"> </br>
    Password Again : <input type="password" name="password" value="1234"> </br>
    <input type="submit" value="sign up">
<% end %>
