<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Admin 後台 </title>
    </head>
    <body>
        <ul>
            <li><a href="/"> home </a></li>
        </ul>

        <%= yield %>
    </body>
</html>
